In [1]:
import pandas as pd
import numpy as np

In [2]:
x=np.array([[1,2,3],[4,5,6]])
y=np.array([4,10,18])

In [4]:
df=pd.DataFrame({'x1':x[0,:],'x2':x[1,:],'y':y})

In [5]:
df

   x1  x2   y
0   1   4   4
1   2   5  10
2   3   6  18

dictionary inside dataframe.....>>>> 'key':array